--find-links https://download.pytorch.org/whl/cu118
torch
transformers
accelerate == 0.20.3
bitsandbytes
bert-score
beautifulsoup4
datasets
deepeval
tensorflow
trl
peft
llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface